<% include ../partials/header %>

    <header class="jumbotron text-center" style="margin-top:2%">

        <h1> Please Add a new comment to
            <%= currCampground.name %>
        </h1>
        <hr style="width: 50%">
        <div style="width: 30%;margin: 0 auto;">
            <form action="/campgrounds/<%= currCampground._id %>/comments" method="POST">

                </p> <img src="<%= currCampground.image %>">
                <p>


                    <div class="form-group">
                        <label for="description"> <strong>Enter your comment below</strong></label>
                        <textarea class="form-control" id="description" rows="3" name="comment[text]"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="form-control btn btn-success" type="submit">Submit</button>
                    </div>


            </form>
            <a href="/campgrounds">Go Back</a>
        </div>


        <% include ../partials/footer %>