<% include partials/header %>


<h1> Welcome to the campgrounds site </h1>

<a href="/campgrounds/newCampground">Add a new campground</a>


<% for( var i = 0; i < campgrounds.length; i++){ %>

	<figure>
	<img src="<%= campgrounds[i].image %>">
	<figcaption> <%= campgrounds[i].name %> </figcaption>
	</figure>

<%} %>


<% include partials/footer %>

