<!DOCTYPE html>
<html lang="end">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/landing.css">


</head>

<body>
    <div class="container text-center" style="margin: auto auto; padding-top: 10%">
        <h1>
            <strong>Landing Page!</strong>
        </h1>
        <h5><strong>Welcome to YelpCamp</strong></h5>
        <br>
        <a href="/campgrounds" class="btn btn-primary lg">Get Started</a>
    </div>


</body>


</html>