<% include partials/header %>

    <div class="text-center">
        <h1 class="Text-center"> Welcome to the show slide of yelpcamp application</h1>

        <p>
            <%= currCampground.name %>
        </p>

        <img src="<%= currCampground.image %>">
        <p>
            <%=currCampground.description %>
        </p>
    </div>

    <% include partials/footer %>