html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#delete-form {
    display: inline;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}